img {
  width: 100%; /*deixando a imagem do tamanho da tela*/
  border-radius: 28px; /*adicionando borda na imagem*/
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}